# Database config
# The root login is used when the database container is initialized.
# The app login is used by the app itself to connect to the database.
# It's highly debatable whether one should keep the username a secret, 
# but what the hell.
DB_HOSTNAME=
DB_DATABASE_NAME=
DB_ROOT_PASSWORD=
DB_APP_USERNAME=
DB_APP_PASSWORD=

# App config
# This is the URL for THIS server, needed for some embedded links.
# In the local .env use 127.0.0.1.  localhost would probably also work but
# allegedly there are cases where it is unreliable.
BACKEND_BASE_URL=https://trackeats.lastcallsw.com:5443
PORTFOLIO_URL=./frontend/portfolio/index.html

# App passwords
# Passwords for the admin, test and guest accounts used to log into the app
# itself.  These are seeded into the User table when the app is initialized.
APP_ADMIN_PASSWORD=
APP_TEST_PASSWORD=
APP_GUEST_PASSWORD=

# SMTP config
# We're using an AWS service for the app's SMTP services.  Technically you 
# *can* set up your own SMTP server, but trust me, it's not worth the hassle.
# On the other hand you do have to "qualify" to use an AWS SMTP server.
# I can't remmber what I had to do except that it was a PITA.  This is to
# discourage spammers.
SMTP_HOSTNAME=
SMTP_USERNAME=
SMTP_PASSWORD=

# Security config
# This is a symmetric key used to encrypt sensitive data stored in the database.
# Generate one thus:
#   import secrets, base64
#   print(base64.b64encode(secrets.token_bytes(32)).decode())
# Technically it's equivalent to the sample code below for generating a JWT
# key, but this code makes it more explicit that it's a base64-encoded value.
BACKEND_ENCRYPTION_KEY_B64=

# JWT config
# For the JWT key, technically any text can be used ("hello world" works),
# but for optimal security it should generated with:
#   import secrets
#   print(secrets.token_urlsafe(32))
# If we were really hardcore, we'd have revocation and rotation 
# mechanisms for the key.  We're not hardcore.
JWT_SECRET_KEY=
# This is how long a JWT token lasts before expiring, in minutes.
# For testing you may want to knock it down to 1. The short lifetime
# is its main feature: it gives bad guys a short time to use it if
# they manage to steal one.  If we were using refresh tokens, 15 
# minutes would be a reasonable value.  Since we're not, 120 is fine.
ACCESS_TOKEN_DURATION=120

# If you want the backend to run in debug mode, which enables auto-reload
# when you change the code, set FLASK_DEBUG to 1.
#FLASK_DEBUG=1

# This tells the Flask CLI where to find the app.  Only used locally.
#FLASK_APP=src/app:minimal_app_config
