/* The following three groups of definitions (root, button and @media) came with
  the Vite boilerplate project generation.  I'll have to go over them more 
  carefully when I get around to the app's visual design, but for now I'll keep
  them. */
/* The :root section makes the fonts a little nicer and the line spacing much
  bigger. */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Not sure about the button entries.  They don't seem to do much.
  I may tweak or eliminate these entries. */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Honestly I have no idea what this does. */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Fonts:
  font-family: 'Karla Variable', sans-serif;
  font-family: 'Markazi Text Variable', serif;
*/

* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Nav Bar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.navbar img {
  height: 5rem;
}
.navbar a {
  font-size: 20pt;
  font-weight: bold;
  font-family: 'Karla Variable', sans-serif;
  margin: 15pt;
}
.navbar a:link {
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}


.inputBoundingBox {
  display: block;
  margin: auto;
  width: 35rem;
  padding: 1rem;
  border: 1px solid black;
}
.inputLine {
  display: flex;
  margin: 5px;
}
.inputLine label {
  width: 30%;
  text-align: right;
}
.inputLine input{
  width: 70%;
  margin-left: 5px;
}
.inputSpacer {
    width: 30%;
}
.inputErrorText {
  font-size: x-small;
  color: red;
  margin-left: 5px;
}
.errorText {
  color: red;
}
.loginButton {
  padding: 0.3rem 2rem 0.3rem 2rem;
  margin: 0.5rem;
  border: 1px solid black;
}
.inputBoundingBox p {
  font-size: small;
}

.aboutBoundingBox {
  display: block;
  margin: auto;
  width: 80%;
  padding: 1rem;
  border: 1px solid black;
  text-align: left;
}
.aboutBoundingBox ul {
  margin-left: 5%;
  text-align: left;
}